<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript">
      
    </script>
    <title> {{ title }} </title>
    
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  </head>
  <body>
    <header>  
      
      <div class="display-3">Baby Tracking - Events</div>

      {%  include "nav.html" %}

    </header>
    
    <main>
      <div class="row justify-content-md-left">
      <div class="col">
      <div class="card">
      <div class="card-body">
        {% for event in events %}
          <form action="/events/delete/{{ event.id }}" method="POST"
          onsubmit="return confirm('Would you like to delete the entry');">
          <div class="card mx-4 my-4 float-start" style="width: 18rem; height: 10rem;"> 
            {% if event.event_type == 'Feeding' %}
            <div class= "card-header bg-primary text-white">
            {% elif event.event_type == 'Wet Diaper' %}
            <div class= "card-header bg-success text-white">
            {% elif event.event_type == 'Dirty Diaper' %}
            <div class= "card-header bg-warning text-white">
            {% else %}
            <div class= "card-header bg-primary text-white">
            {% endif %}
              <div class="float-start">
                <h5>{{ event.event_type }}</h5>
              </div>
              <div class="float-end">
                <input type="submit" class="btn btn-danger fw-bold" value="X">
              </div>
            </div> 
            <div class="card-body">
                <p class="card-text">
                  {{ event['event_date'] }} {{ event['event_time'] }}
                </p>
                {% if event.event_duration %}
                  <h6>{{ event.event_duration }} minutes</h6>
                {% endif %}     
         </div>
        </div>
        </form>

        {% endfor %}
      </div>
      </div>
      </div>
      </div>
    </main>
      
    <footer>
      
    
    </footer>
  </body>
</html>
