<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript">

      function updateDateAndTime() {

        var checkbox = document.getElementById("currentDateTimeCheckBox")
        
        if (checkbox.checked == true) {

        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1; //January is 0!
        var yyyy = today.getFullYear();

        if(dd<10) {
            dd = '0' + dd
        } 

        if(mm<10) {
            mm = '0' + mm
        } 

        todayStr = yyyy + '-' + mm + '-' + dd;

        document.getElementById("event-date").value = todayStr;

        hh = today.getHours();
        mi = today.getMinutes();
        ss = today.getSeconds();

        if(hh<10) {
            hh = '0' + hh
        } 

        if(mi<10) {
            mi = '0' + mi
        } 

        if(ss<10) {
            ss = '0' + ss
        } 
        
        var timeNow = hh + ":" + mi + ":" + ss;

        document.getElementById("event-time").value = timeNow;

        }

        setTimeout(updateDateAndTime,1000);
      }

      function deleteEvent(id, event_type) {

        if (confirm("Do you want to delete the event?")) {

          console.log("Will delete event with id: " + id);

          var my_url = "/v2/events/delete/" + id

          console.log("calling -> " + my_url)
          $.ajax({
            url: my_url,
            type: 'POST',
            contentType: "application/json",
            dataType: 'json',
            success: function(result) {

              console.log(result);

              refreshPageData(event_type);
            },
            error: function(result) {
              console.log(result);
            }
        
            });
        }
      }

      function refreshPageData(event_type) {

        refresh_day_events(event_type);
        refresh_day_event_counts();
        refresh_day_wise_counts();

      }

      function refresh_day_events(event_type) {

        var my_url = "/v2/events/day/" + event_type

        console.log("calling -> " + my_url)
        $.ajax({
          url: my_url,
          type: 'GET',
          contentType: "application/json",
          dataType: 'json',
          success: function(result) {
            console.log(result);
            render_day_events(result["events"], event_type);

          },
          error: function(result) {
            console.log(result);
          }

        });
      }

      function render_day_events(events, event_type) {

        elementId = "day-" + event_type + "-tbody"
        console.log("render_day_events: " + elementId);

          tbody = document.getElementById(elementId);

          var eventHtml = "";

          
          console.log(events)
          for (let idx in events) {

            console.log(event);
            eventHtml += "<tr>";
            eventHtml += '<td>';
            eventHtml += events[idx].event_date;
            eventHtml += '</td>';
            eventHtml += '<td>';
            eventHtml += events[idx].event_time;
            eventHtml += '</td>';
            eventHtml += '<td>';
            eventHtml += '<button type="button" class="btn btn-danger fw-bold" onclick="deleteEvent(' +  events[idx].event_id + ',&quot;' + event_type + '&quot;)">X</button>'
            eventHtml += '</td>';
            eventHtml += "</tr>";

          }

          tbody.innerHTML = eventHtml;
        

      }

      function refresh_day_event_counts() {

        var my_url = "/v2/events/daycounts"

        console.log("calling -> " + my_url)
        $.ajax({
          url: my_url,
          type: 'GET',
          contentType: "application/json",
          dataType: 'json',
          success: function(result) {
            console.log(result);

            event_counts = result["event_counts"];

            var feeding_count = "None Yet";

            if (event_counts["Feeding"]) {
              feeding_count = event_counts["Feeding"];
            }

            document.getElementById("day-feed-count").innerHTML = feeding_count;

            var wet_diaper_count = "None Yet";

            if (event_counts["Wet Diaper"]) {
              wet_diaper_count = event_counts["Wet Diaper"];
            }

            document.getElementById("day-wet-diaper-count").innerHTML = wet_diaper_count;

            var dirty_diaper_count = "None Yet";

            if (event_counts["Dirty Diaper"]) {
              dirty_diaper_count = event_counts["Dirty Diaper"];
            }

            document.getElementById("day-dirty-diaper-count").innerHTML = dirty_diaper_count;

          },
          error: function(result) {
            console.log(result);
          }

        });
        }
        
        function refresh_day_wise_counts() {

          var my_url = "/v2/events/daywisecounts"

          console.log("calling -> " + my_url)
          $.ajax({
            url: my_url,
            type: 'GET',
            contentType: "application/json",
            dataType: 'json',
            success: function(result) {
              console.log(result);

              day_wise_counts = result["day_wise_counts"];

              render_day_wise_counts(day_wise_counts);

            },
            error: function(result) {
              console.log(result);
            }

          });
          }

          function render_day_wise_counts(day_wise_counts) {

            tbody = document.getElementById("day-wise-counts-tbody");

            var strHtml = "";

            console.log("render_day_wise_counts");
            console.log(day_wise_counts);

            for (let idx in day_wise_counts) {

              console.log(event);
              strHtml += "<tr>";
              strHtml += '<td>';
              strHtml += day_wise_counts[idx].date;
              strHtml += '</td>';
              strHtml += '<td>';
              if (day_wise_counts[idx]["Feeding"]) {
                strHtml += day_wise_counts[idx]["Feeding"];
              } else {
                strHtml += "";
              }
              
              strHtml += '</td>';
              strHtml += '<td>';

              if (day_wise_counts[idx]["Wet Diaper"]) {
                strHtml += day_wise_counts[idx]["Wet Diaper"];
              } else {

                strHtml += "";
              }
              
              strHtml += '</td>';
              strHtml += '<td>';
              if (day_wise_counts[idx]["Dirty Diaper"]) {

                strHtml += day_wise_counts[idx]["Dirty Diaper"];

              } else {

                strHtml += "";
              }
              
              strHtml += '</td>';
              strHtml += "</tr>";

            }

            tbody.innerHTML = strHtml;


            }
    </script>
    <title> {{ title }} </title>
    
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-utilities.min.css') }}">

    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}"></script>

  </head>
  <body onload="setTimeout(updateDateAndTime,1000);">
    <header>
      <div class="display-3 bg-secondary-subtle">Baby Tracking</div>

      {%  include "nav.html" %}

    </header>
    <main>
      <form method="POST">
      <h2>Today</h2>
      <div class="row justify-content-center mb-3">
        <div class="col">
          <div class="card my-2">
            <div class="card-header">
              <input type="submit" name="feeding" value="Feeding" class="btn btn-primary btn-lg mx-2">   
            </div>
            <div class="card-body">
              {% if day_counts.Feeding %}
                <button id="day-feed-count" type="button" class="btn btn-outline-primary fw-bold" data-bs-toggle="modal" data-bs-target="#day-feed-detail">
                  {{ day_counts.Feeding }}
                </button>
                <div class="modal" tabindex="-1" id="day-feed-detail">
                  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">Feeding Events</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">

                        <table class="table table-hover">
                          <thead>
                            <tr>
                              <th scope="col">Date</th>
                              <th scope="col">Time</th>
                              <th scope="col">Actions</th>
                            </tr>
                          </thead>
                          <tbody class="table-group-divider" id="day-feeding-tbody">  
                             {% for day_event in day_event_details['Feeding'] %}
                              <tr>
                                <th scope="row">
                                  {{ day_event['event_date'] }}
                                </th>
                                <td>
                                  {{ day_event['event_time'] or " " }}
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger fw-bold" onclick="deleteEvent({{ day_event['event_id'] }}, 'feeding')">X</button>
                                </td>
                              </tr>
                              {% endfor %}
                    
                          </tbody>
                        </table>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
                      </div>
                    </div>
                  </div>
                </div>
              {% else %}           
                  None Yet
              {% endif %} 
              </div>
            </div>

            </div>
            
        <div class="col">
          <div class="card my-2">
            <div class="card-header"><input type="submit" name="wet-diaper" value="Wet Diaper" class="btn btn-success btn-lg mx-2"></div>
            <div class="card-body">
              {% if day_counts['Wet Diaper'] %}
                <button id="day-wet-diaper-count" type="button" class="btn btn-outline-success fw-bold" data-bs-toggle="modal" data-bs-target="#day-wet-diaper-detail">
                  {{ day_counts['Wet Diaper'] }}
                </button>
                <div class="modal" tabindex="-1" id="day-wet-diaper-detail">
                  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">Wet Diaper Events</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">

                        <table class="table table-hover">
                          <thead>
                            <tr>
                              <th scope="col">Date</th>
                              <th scope="col">Time</th>
                              <th scope="col">Actions</th>
                            </tr>
                          </thead>
                          <tbody class="table-group-divider" id="day-wet-diaper-tbody">  
                             {% for day_event in day_event_details['Wet Diaper'] %}
                              <tr>
                                <th scope="row">
                                  {{ day_event['event_date'] }}
                                </th>
                                <td>
                                  {{ day_event['event_time'] or " " }}
                                </td>
                                <td>
                                  <button type="button" class="btn btn-danger fw-bold" onclick="deleteEvent({{ day_event['event_id'] }}, 'wet-diaper')">X</button>
                                </td>
                              </tr>
                            {% endfor %}
                    
                          </tbody>
                        </table>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
                      </div>
                    </div>
                  </div>
                </div>
              {% else %}           
                  None Yet
              {% endif %} 

              
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card my-2">
            <div class="card-header"><input type="submit" name="dirty-diaper" value="Dirty Diaper" class="btn btn-warning btn-lg mx-2"></div>
            <div class="card-body">
              {% if day_counts['Dirty Diaper'] %}
              <button id="day-dirty-diaper-count" type="button" class="btn btn-outline-warning fw-bold" data-bs-toggle="modal" data-bs-target="#day-dirty-diaper-detail">
                {{ day_counts['Dirty Diaper'] }}
              </button>
              <div class="modal" tabindex="-1" id="day-dirty-diaper-detail">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Dirty Diaper Events</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                      <table class="table table-hover">
                        <thead>
                          <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Time</th>
                            <th scope="col">Actions</th>
                          </tr>
                        </thead>
                        <tbody class="table-group-divider" id="day-dirty-diaper-tbody">  
                           {% for day_event in day_event_details['Dirty Diaper'] %}
                            <tr>
                              <th scope="row">
                                {{ day_event['event_date'] }}
                              </th>
                              <td>
                                {{ day_event['event_time'] or " " }}
                              </td>
                              <td>
                                <button type="button" class="btn btn-danger fw-bold" onclick="deleteEvent({{ day_event['event_id'] }}, 'dirty-diaper')">X</button>
                              </td>
                            </tr>
                          {% endfor %}
                  
                        </tbody>
                      </table>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
                    </div>
                  </div>
                </div>
              </div>
            {% else %}           
                None Yet
            {% endif %} 
              
            </div>
          </div>
        </div>
      </div>
      </div>
      </div>
      </div>
      </div>
      <div class="row mb-3">
        <div class="col">
        <div class="card">
          <div class="card-body">
          <div>
            <label for="duration-time" class="form-label">Duration (Feeding only)</label> 
            <input class="form-control-lg mx-2" style="width: 5rem; height: 2rem;" type="number" step="1" name="duration-time" id="duration-time" value="20"> 
          </div>
          <div>
            <div>
              <input class="form-check-input" type="checkbox" value="1" name="showCurrentDateTime" id="currentDateTimeCheckBox" 
              {% if page_state['showCurrentDateTime'] == "1" %}
              checked
              {% endif %}
              >
              <label class="form-check-label" for="currentDateTimeCheckBox">
                Current Date/Time
              </label>
            </div>
            <div>
              <label for="event-date" class="form-label my-2">Date</label> 
              <input class="form-control-lg my-2" type="date" name="event-date" id="event-date">
            </div>
            <div>
              <label for="event-time" class="form-label my-2">Time</label> 
              <input class="form-control-lg my-2" type="time" step="1" name="event-time" id="event-time">
            </div>
          </div>
        </div>
        </div>
      </div>
      </div>
    </form>  
  
   

    <h2>History</h2>

    <div class="row">
      <div class="col">
      <div class="card">
      <div class="card-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Feeding</th>
              <th scope="col">Wet Diaper</th>
              <th scope="col">Dirty Diaper</th>
            </tr>
          </thead>
          <tbody class="table-group-divider" id="day-wise-counts-tbody">  
             {% for day_count in day_wise_counts %}
              <tr>
                <th scope="row">
                  {{ day_count['date'] }}
                </th>
                <td>
                  {{ day_count['Feeding'] or " " }}
                </td>
                <td>
                  {{ day_count['Wet Diaper'] or " "}}
                </td>
                <td>
                  {{ day_count['Dirty Diaper'] or " " }}
                </td>
              </tr>
            {% endfor %}
    
          </tbody>
        </table>

      </div>
      </div>
      </div>
      </div>

    </main>
      
    <footer>   
      
    </footer>
  </body>
</html>
